@model famiLYNX.Presentation.Web.FamilyViewModel

<header>
    <h1>@Model.FamilyName</h1>
</header>

<section id="main">
    @{
        for (var i = 0; i < Model.ConversationList.Count(); i++) {
            string side = "";
            string boxHeight = "";
            boxHeight = ((Model.ConversationList[i].MessageList.Count() * 35) + 60).ToString();
            if (i % 2 == 0) { side = "left"; } else { side = "right"; }
            <div class="boxthread @side" style="height: @(boxHeight)px;">
           
                     @Html.Action("DisplayConversation", "Conversations", new { conversationId = Model.ConversationList[i].Id, familyId = Model.FamilyId, familyName = Model.FamilyName, userName = Model.UserName })
            </div>
        }
    }
</section>
<nav>
    <ul>
        <li class="NewMessageLink">
            <p>Conversation Starter</p>
                    @using (@Html.BeginForm("Create", "Conversations",FormMethod.Post, htmlAttributes: new { @class="NewMessageForm" })) {
                        @Html.Label("What are we going to talk about?")
                        @Html.TextBox("NewTopic", "", htmlAttributes: new { placeholder = "This is where the topic goes" })
                        <label>
                            Check here if this conversation is for an event:
                            @Html.CheckBox("IsEvent", false, htmlAttributes: new { @id="eventCheckbox" })
                            <label class="viewable">Enter the date of this event.</label>
                            @Html.TextBox("ExpirationDate", "", htmlAttributes: new { @class = "viewable", @placeholder = DateTime.Today.AddDays(14) })
                        </label>
                        @Html.Label("Enter the initial message for this conversation.  Leave blank if the topic speaks for itself...or if you have nothing more to say.")
                        @Html.TextArea("FirstMessage", "", htmlAttributes: new { placeholder = "Initial message goes here" })
                        @Html.Hidden("UserName", Model.UserName)
                        @Html.Hidden("FamId", Model.FamilyId)
                        <input type="submit", value="Start this conversation" />
                    }
        </li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Log Off</a></li>
    </ul>
</nav>
