@model famiLYNX.Services.ApplicationUserDTO

@{
    ViewBag.Title = "Profile";
}

<header class="body-content">
    <h1>My Profile</h1>
</header>
<section id="main" class="body-content">
    <div class="well well-lg col-lg-6 bs-component" style="margin-left: 200px;">
        <form action="/Members/MyProfileEdit" method="get" class="form-horizontal">
            <fieldset>
                <legend>@Model.UserName</legend>

                <div class="form-group-sm">
                    <label class="col-md-3 control-label">First Name</label>
                    <div class="col-md-9">
                        <label id="firstName" class="control-label">@Model.FirstName</label>
                    </div>
                </div>

                <div class="form-group-sm">
                    <label class="col-md-3 control-label">Last Name:</label>
                    <div class="col-md-9">
                        <label id="lastName" class="control-label">@Model.LastName</label>
                    </div>
                </div>

                <div class="form-group-sm">
                    <label class="col-md-3 control-label">E-mail:</label>
                    <div class="col-md-9">
                        <label id="email" class="control-label">@Model.Email</label>
                    </div>
                </div>
                
                <br />
                &nbsp;
                <br />

                <div class="form-group-sm">
                    <label class="col-md-3 control-label">Address:</label>
                    <table>
                        <tr>
                            <td class="col-md-3" style="padding: 0px;">
                                <div class="list-group">
                                    <label class="control-label list-group-item" style="border: none;">Street:</label>
                                    <label class="control-label list-group-item" style="border: none;">City:</label>
                                    <label class="control-label list-group-item" style="border: none;">State:</label>
                                    <label class="control-label list-group-item" style="border: none;">Zip Code:</label>
                                </div>
                            </td>
                            <td class="col-md-9" style="padding-left: 0px;">
                                <div class="list-group">
                                    <label class="control-label list-group-item" style="text-align: left; border: none;">@Model.UserAddress.Street</label>
                                    <label class="control-label list-group-item" style="text-align: left; border: none;">@Model.UserAddress.City</label>
                                    <label class="control-label list-group-item" style="text-align: left; border: none;">@Model.UserAddress.State</label>
                                    <label class="control-label list-group-item" style="text-align: left; border: none;">@Model.UserAddress.Zip</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-group-sm">
                    <div class="col-md-9 col-md-offset-3">
                        @Html.HiddenFor(m => m.UserName)
                        <input id="EditProfile" type="submit" value="Edit Profile" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>

<!----------------------------------Need User Name Pop Up------------------------------------>
<div class="modal" id="modal-one">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!----------------------------------Need User Name Pop Up------------------------------------>

<nav>
    <ul>
        @foreach (var fam in Model.Families) {
            <li>@Html.ActionLink(fam.OrgName, "Index", "Familys", new { userID = Model.UserName, famName = fam.OrgName }, htmlAttributes: new { })</li>
        }
        <li class="NewMessageLink">
            <p>Start A Family</p>
            @using (@Html.BeginForm("Create", "Familys", FormMethod.Post, htmlAttributes: new { @class = "NewMessageForm" })) {
                @Html.Label("What is the family name?")
                @Html.TextBox("OrgName", "", htmlAttributes: new { placeholder = "This is where your family name goes" })
                        <input type="submit" , value="Start this Family" href="#modal-one" />
            }
        </li>
        <li><a href="#">Log Off</a></li>
    </ul>
</nav>

