@model famiLYNX.Presentation.Web.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<header class="body-content">
    <h1>My Profile</h1>
</header>
<section id="main" class="body-content">
    <div class="well well-lg col-lg-6 bs-component" style="margin-left: 200px;">
        <form action="/Members/MyProfileEdit" method="get" class="form-horizontal">
            <fieldset>
                <legend>@Model.User.UserName</legend>

                <div class="form-group-sm">
                    <label class="col-md-3 control-label">First Name</label>
                    <div class="col-md-9">
                        <label id="firstName" class="control-label">@Model.User.FirstName</label>
                    </div>
                </div>

                <div class="form-group-sm">
                    <label class="col-md-3 control-label">Last Name:</label>
                    <div class="col-md-9">
                        <label id="lastName" class="control-label">@Model.User.LastName</label>
                    </div>
                </div>

                <div class="form-group-sm">
                    <label class="col-md-3 control-label">E-mail:</label>
                    <div class="col-md-9">
                        <label id="email" class="control-label">@Model.User.Email</label>
                    </div>
                </div>
                
                <br />
                &nbsp;
                <br />

                <div class="form-group-sm">
                    <label class="col-md-3 control-label">Address:</label>
                    <table>
                        <tr>
                            <td class="col-md-3" style="padding: 0px;">
                                <div class="list-group">
                                    <label class="control-label list-group-item" style="border: none;">Street:</label>
                                    <label class="control-label list-group-item" style="border: none;">City:</label>
                                    <label class="control-label list-group-item" style="border: none;">State:</label>
                                    <label class="control-label list-group-item" style="border: none;">Zip Code:</label>
                                </div>
                            </td>
                            <td class="col-md-9" style="padding-left: 0px;">
                                <div class="list-group">
                                    <label class="control-label list-group-item" style="text-align: left; border: none;">@Model.User.UserAddress.Street</label>
                                    <label class="control-label list-group-item" style="text-align: left; border: none;">@Model.User.UserAddress.City</label>
                                    <label class="control-label list-group-item" style="text-align: left; border: none;">@Model.User.UserAddress.State</label>
                                    <label class="control-label list-group-item" style="text-align: left; border: none;">@Model.User.UserAddress.Zip</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="form-group-sm">
                    <div class="col-md-9 col-md-offset-3">
                        @Html.HiddenFor(m => m.User.UserName)
                        <input id="EditProfile" type="submit" value="Edit Profile" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>

<nav>

    <!---------------  Listing Existing Familys for this User ---------------->
    <ul>
        @foreach (var fam in Model.Familys) {
            <li>@Html.ActionLink(fam.OrgName, "Index", "Familys", new { userID = Model.User.UserName, famName = fam.OrgName }, htmlAttributes: new { })</li>
        }
        <li class="NewMessageLink">
            <p>Start A Family</p>
            @using (@Html.BeginForm("Create", "Familys", FormMethod.Post, htmlAttributes: new { @class = "NewMessageForm" })) {
                @Html.Label("What is the family name?")
                @Html.TextBox("OrgName", "", htmlAttributes: new { placeholder = "This is where your family name goes" })
                        <input type="submit" , value="Start this Family" class="btn btn-default" />
            }
        </li>
        <li class="NewMessageLink">
            <p>Join A Family</p>
            @using (@Html.BeginForm("Plea", "Familys", FormMethod.Post, htmlAttributes: new { @class = "NewMessageForm" })) {
                @Html.Label("Enter the Family Username")
                @Html.TextBox("famUserName", "", htmlAttributes: new { placeholder = "This is where the family username goes" })
                <input type="submit", value="Join this Family" class="btn btn-default" />
            }
        </li>
        <li><a href="#">Log Off</a></li>
    </ul>
    <!---------------  Listing Existing Familys for this User ---------------->

    <!---------------  Listing Exiting Invites/Pleas for this User ---------------->
    <ul>
    
    @if (Model.User.ToApprove != null) {
        foreach (var item in Model.User.ToApprove) {
            if (item.Approved == famiLYNX.Services.Response.None && item.UserResponse == famiLYNX.Services.Response.None) {
                <li>
                    @item.EmailAddress has been invited to @item.Family.FamilyUserName by @item.Inviter
                    @Html.ActionLink("Approve", "ApprovePlea", "Familys", new { Email = @item.EmailAddress, FamilyUserName = @item.Family.FamilyUserName }, htmlAttributes: new { })
                    @Html.ActionLink("Deny", "DenyPlea", "Familys", new { Email = @item.EmailAddress, FamilyUserName = @item.Family.FamilyUserName }, htmlAttributes: new { })
                </li>
            } else if (item.UserResponse == famiLYNX.Services.Response.Yes) {
                <li>
                    @item.EmailAddress has requested to be added to @item.Family.FamilyUserName
                    @Html.ActionLink("Approve", "ApprovePlea", "Familys", new { Email = @item.EmailAddress, FamilyUserName = @item.Family.FamilyUserName }, htmlAttributes: new { })
                    @Html.ActionLink("Deny", "DenyPlea", "Familys", new { Email = @item.EmailAddress, FamilyUserName = @item.Family.FamilyUserName }, htmlAttributes: new { })
                </li>
            } else if (item.Approved == famiLYNX.Services.Response.Yes) {
                <li>
                    @item.EmailAddress has not responded to your invite for @item.Family.FamilyUserName
                    @Html.ActionLink("Remove", "DenyPlea", "Familys", new { Email = @item.EmailAddress, FamilyUserName = @item.Family.FamilyUserName }, htmlAttributes: new { })
                </li>
            }
        }
    }

    </ul>
    <!---------------  Listing Exiting Invites/Pleas for this User ---------------->
</nav>