@model famiLYNX.Services.ApplicationUserDTO

@{
    ViewBag.Title = "Profile";
}

<!-- This view will show the user their information as well as options
    for adding themselves to a family or creating a new family.  That
    will make them the administrator/creator of that family.  Do I even
    need someone to be the administrator?  I think the only thing I need
    a particular user to have control over is a conversation that is an
    event.-->
<header>
    <h1>My Profile</h1>
</header>
<section id="main">
    <form class="form-horizontal">
        <fieldset>
        <legend>@Html.DisplayFor(model => model.UserName)</legend>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.FirstName)
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.LastName)
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.Email)
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.Email)
                </div>
            </div>

        </fieldset>
        <input id="EditProfile" type="button" style="bottom: 0px;" value="Edit Profile" class="btn" onclick="AllowEdits()" />
    </form>
</section>
<script type="text/javascript" >

    function AllowEdits() {
        var button = document.getElementById("EditProfile");
        var elems = document.getElementsByTagName("dd");
        if (button.value = "Edit Profile"){
            for (var i = 0; i < elems.length; i++) {
                elems[i].setAttribute("class", "enabled");
            }
            button.value = "Save Changes";
        }else{
            for (var i = 0; i < elems.length; i++) {
                elems[i].setAttribute("class", "disabled");
            }
        }
        button.value = "Edit Profile";
        
        button = null;
        elems = null;
    }
</script>
